<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</head>

<body>
    {% include 'messages.html' %}
  <ul class="nav nav-tabs justify-content-end">
  <li class="nav-item">
  {% if request.user.is_authenticated %}
      <a class="nav-link" href="{% url "Account:account_manage"%}"> Hello {{ request.user.first_name }}</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url "Account:logout" %}">Logout</a>
  {% else %}
      <a class="nav-link" href="{% url "Account:login" %}">Login</a>
  {% endif %}
  </li>
    <li class="nav-item">
      <form class="form-inline">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <li class="nav-item">
        <a class="nav-link" href="{% url "cart:cart_detail" %}">購物車</a>
      </li>
    </li>

  </ul>
  <div class="container">
    <div class="jumbotron text-Info">
      <img class="float-right" src="https://www.jiumodiary.com/images/front/eleps.png" style="width:29%;height:25%">
      <div>
          <a href="/" STYLE="text-decoration:none"><h1>InternetBookstore</h1></a>
          <p>Welcome to InternetBookstore!!</p>
      </div>
    </div>
    <ul class="nav nav-tabs justify-content-center nav-justified">
      <li class="nav-item">
        <a class="nav-link" href="/">主頁</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "IB:book_list"%}">中文書</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">外文書</a>
      </li>
    </ul>
    {% block content %}
    {% endblock %}
</body>
<footer style="text-align:center">
  <p>Posted by: Tsai</p>
  <p>Contact information: <a href="mailto:wto2005716@yahoo.com.tw">
  wto2005716@yahoo.com.tw</a>.</p>
</footer>
</html>
