{% extends "./base.html "%}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    {% if category %}{{ category.title }}{% else %}Books{% endif %}
{% endblock %}

{% block content %}

<div class="border_image">
  <div class="row">
    <div class="col-md-5 mx-auto">
        <div class="thumbnail">
            <p></p>
            <img src="{% if book.photo %}{{ book.photo }}
                      {% else %}{% static "IB/no_image.png" %}{% endif %}"
                 class="img-responsive">
                 <p></p>
             </div>
             </div>
             <div class="col-md-6">
                    <div class="col-md-10 col-xs-6">
                        <p> </p>
                        <h3>{{ book.bookname }}</h3>
                        <p> </p>
                        <p>作者 / {{book.author}}</p>
                        <p>出版社 / {{book.publisher}}</p>
                        <p>出版日期 / {{book.publish_date}}</p>
                        <p>語言 / {{book.language}}</p>
                        <p>定價 / {{book.price}}</p>
                        <p>存貨 / <span class="badge badge-success">In Stock</span></p>
                        <p>書籍種類 / <a href="{{ book.category.get_absolute_url }}" style="text-decoration: none;">
                            {{ book.category }}</a></p>
                        <p> </p>

                        <form action="{% url "cart:cart_add" book.id %}" method="post">
                                    {% csrf_token %}
                                    {% bootstrap_form cart_book_form %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-success btn-product">
                                            <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                                        </button>
                                    {% endbuttons %}
                        </form>
                    </div>
                </div>
              </div>
            </div>

    <div class="row">
            <div class="card col-md-6">
              <div class="card-body">
                <h4 class ="card-title">內容簡介</h4>
                <p class="card-text">{{ book.description }}</p>
              </div>
              <p></p>
            </div>

    <div class="card col-md-6">
        <button type="button" class="btn btn-light" >
                <a href="{% url "comment:createComment" book.id %}" style="text-decoration: none;">Comment</a>
        </button>
        {% for comment in comments %}
        <div class="card">
            <div class="card-body">
             <h5 class="card-title">Writer: {{comment.user}}</h5>
            <p class="card-text">{{comment.content}}</p>
            <p class="card-text float-right"> At:{{comment.timestamp}}</p>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}
