{% extends "./base.html "%}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    {% if category %}{{ category.title }}{% else %}Books{% endif %}
{% endblock %}

{% block content %}
<div class="row">
<div class="border_image">
  <div class="row">
    <div class="col-md-5">
        <div class="thumbnail">
            <p></p>
            <img src="{% if book.photo %}{{ book.photo }}
                      {% else %}{% static "IB/no_image.png" %}{% endif %}"
                 class="img-responsive">
                 <p></p>
             </div>
             </div>
             <div class="col-md-6">
                    <div class="col-md-10 col-xs-6">
                        <p> </p>
                        <h3>{{ book.bookname }}</h3>
                        <p> </p>
                        <p>作者 / {{book.author}}</p>
                        <p>出版社 / {{book.publisher}}</p>
                        <p>出版日期 / {{book.publish_date}}</p>
                        <p>語言 / {{book.language}}</p>
                        <p>定價 / {{book.price}}</p>
                        <p>存貨數量 / {{book.stock}}</p>
                        <p>書籍種類 / <a href="{{ book.category.get_absolute_url }}">{{ book.category }}</a></p>
                        <p> </p>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h4 class ="card-title">內容簡介</h4>
                <p class="card-text">{{ book.description }}</p>
              </div>
              <p></p>
            </div>
                <form action="{% url "cart:cart_add" book.id %}" method="post">
                            {% csrf_token %}
                            {% bootstrap_form cart_book_form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-success btn-product">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                                </button>
                            {% endbuttons %}
                        </form>

        </div>
    </div>
    <button type="button" class="btn btn-light" >
            <a href="{% url "comment:createComment" book.id %}">Comment</a>
    </button>
    <div class="col-md-6 col-md-4">
        {% for comment in comments %}
        <div>
            <div>writer: {{comment.user}}</div>
            <div>{{comment.content}}<div>
            <div> at:{{comment.timestamp}}</div>
        </div>
        {% endfor %}
    </div>
</div>

</div>
{% endblock%}
