{% extends "./base.html" %}
{% load staticfiles %}

{% block content %}
    <!-- carousel -->
    {% include 'carousel.html' %}
    <div>
      <h5>精選書籍</h5>
    </div>

    <div class="row">
        {% for book in books %}
        <div class="col-md-3 book">
            <div class="thumbnail">
                <a href="{{ book.get_absolute_url }}">
                    <img src="{% if book.photo %}{{ book.photo}}
                    {% else %}{% static "IB/no_img.png" %} {% endif %}">
                </a>
                <div>
                <a href="{{ book.get_absolute_url }}">{{book.bookname }}</a><br>
            </div>
                ${{ book.price }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
