* {
    font-family: 微軟正黑體;
}

.book img {
    width: 150px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.book {
    text-align: center
}

.border_image {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 stretch;
}

.scroll {
    height: 500px;
    overflow-y: scroll;
}