{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    {{ request.user.first_name }}的會員中心
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3>會員</h3>
            <div class="list-group">
                <div class="active">
                    <a class="list-group-item list-group-item-action"
                    href="{% url "Account:profile"%}">編輯會員</a>
                </div>

                <div class="active">
                    <a class="list-group-item list-group-item-action"
                    href="{% url "Account:orders" %}">訂單查詢</a>
                </div>
                <div class="active">
                    <a class="list-group-item list-group-item-action"
                    href="{% url "Account:ordersHistory" %}">訂單歷史查詢</a>
                </div>
                <div>
                    <a class="list-group-item list-group-item-action"
                    href="{% url "Account:comments" %}">評論</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <h3 style="text-align:center">評論</h3>
            </div>
    {% if comments %}
    <div class="scroll">
    <div class="row">
    {% for comment in comments %}
    <div class="col-sm-3">
        <img src="{% if comment.book.photo %}{{ comment.book.photo}}
        {% else %}{% static "IB/no_img.png" %} {% endif %}"
        class="float-right" style="height:120px;width:60px">
    </div>
    <div class="card col-sm-8">
        <div class="card-body">
        <h5 class="card-title">
            <a href="{% url "IB:book_detail" comment.book.id comment.book.slug %}"
             style="text-decoration:none">
                Book: {{comment.book.bookname}}
            </a>
        </h5>
        <p class="card-text">{{comment.content}}</p>
        <p class="card-text float-right"> at:{{comment.timestamp}}</p>
    </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
</div>
</div>
{% endblock %}
