{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
    {{ request.user.first_name }}的會員中心
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3>會員</h3>
            <div class="list-group">
                <div class="active">
                    <a class="list-group-item list-group-item-action"
                    href="{% url "Account:profile"%}">編輯會員</a>
                </div>

                <div class="active">
                    <a class="list-group-item list-group-item-action"
                    href="{% url "Account:orders" %}">訂單查詢</a>
                </div>
                <div>
                    <a class="list-group-item list-group-item-action"
                    href="{% url "Account:comments" %}">評論</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
    {% if orders %}
    {% for order in orders %}
    <div>
        <div>訂單編號: {{order.id}}</div>
        <div>下訂日期:{{order.order_date}}</div>
        <div>出貨日期:{{order.shipment_date}}</div>
        <div>抵達日期:{{order.arrival_date}}</div>
        <div>送貨地址:{{order.address}}</div>
        <div>總共費用:{{order.get_total_cost}}</div>
    </div>

    {% endfor %}
    {% endif %}
</div>
</div>
{% endblock %}
