{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
    {{ request.user.first_name }}的會員中心
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3>會員</h3>
            <div class="list-group">
                <div class="active">
                    <a class="list-group-item list-group-item-action"
                    href="{% url "Account:profile"%}">編輯會員</a>
                </div>

                <div class="active">
                    <a class="list-group-item list-group-item-action"
                    href="{% url "Account:orders" %}">訂單查詢</a>
                </div>
                <div class="active">
                    <a class="list-group-item list-group-item-action"
                    href="{% url "Account:ordersHistory" %}">訂單歷史查詢</a>
                </div>
                <div>
                    <a class="list-group-item list-group-item-action"
                    href="{% url "Account:comments" %}">評論</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <h3 style="text-align:center">訂單</h3>
            </div>
    {% if orders %}
    <div class="scroll">
    {% for order in orders %}
    <div class="card">
        <div class="card-body">
        <div>訂單編號: {{order.id}}</div>
        <p class="card-text">下訂日期:{{order.order_date}}</p>
        <p class="card-text">出貨日期:{{order.shipment_date}}</p>
        <p class="card-text">抵達日期:{{order.arrival_date}}</p>
        <p class="card-text">送貨地址:{{order.address}}</p>
        <p class="card-text">總共費用:{{order.get_total_cost}}</p>
        <a href="{% url "Account:orderdetail" order.id %}" class="btn btn-primary">詳細內容</a>
    </div>
    </div>

    {% endfor %}
    </div>
    {% endif %}
</div>
</div>
{% endblock %}
