<div class="row" style="text-align:center">
  <div id="item_one" class="col-md-3">
    <a href="http://www.eslite.com/product.aspx?pgid=1001289402638717&name=%E5%B0%8F%E5%92%96%E7%9A%84%E5%84%AA%E5%8B%A2%3a+%E5%A4%A7%E8%AE%8A%E5%8B%95%E6%99%82%E4%BB%A3%E7%B2%BE%E6%BA%96%E6%88%90%E9%95%B7%E7%9A%8412%E5%A4%A7%E7%AB%B6%E7%88%AD%E7%AD%96%E7%95%A5">
      <div>
        <img class="img-thumbnail" src="http://pic.eslite.com/Upload/Product/201711/m/636465043168700000.jpg">
      </div>
      <div>
        小咖的優勢: 大變動時代精準成長的12大競爭策略
      </div>
      <div>
        NT$380
      </div>
    </a>
  </div>
  <div id="item_one" class="col-sm-3">
    <a href="http://www.eslite.com/product.aspx?pgid=1001116042637713&name=%E5%8F%97%E5%82%B7%E7%9A%84%E5%AD%A9%E5%AD%90%E5%92%8C%E5%A3%9E%E6%8E%89%E7%9A%84%E5%A4%A7%E4%BA%BA">
      <div>
        <img class="img-thumbnail" src="http://pic.eslite.com/Upload/Product/201711/m/636465046658700000.jpg">
      </div>
      <div>
        受傷的孩子和壞掉的大人
      </div>
      <div>
        NT$290
      </div>
    </a>
  </div>
  <div id="item_one" class="col-sm-3">
    <a href="http://www.eslite.com/product.aspx?pgid=1001260912640584&name=%E7%B5%82%E6%88%B0%E9%82%A3%E4%B8%80%E5%A4%A9%3a+%E8%87%BA%E7%81%A3%E6%88%B0%E7%88%AD%E4%B8%96%E4%BB%A3%E7%9A%84%E6%95%85%E4%BA%8B">
      <div>
        <img class="img-thumbnail" src="http://pic.eslite.com/Upload/Product/201711/m/636470227896243750.jpg">
      </div>
      <div>
        終戰那一天: 臺灣戰爭世代的故事
      </div>
      <div>
        NT$380
      </div>
    </a>
  </div>
  <div id="item_one" class="col-sm-3">
    <a href="http://www.eslite.com/product.aspx?pgid=1001183842640593&name=%E8%81%BD%E8%AA%AA%E6%99%82%E5%85%89%E8%A8%98%E5%BE%97%E4%BD%A0">
      <div>
        <img class="img-thumbnail" src="http://pic.eslite.com/Upload/Product/201711/m/636470228026556250.jpg">
      </div>
      <div>
        聽說時光記得你
      </div>
      <div>
        NT$330
      </div>
    </a>
  </div>
</div>
<div class="row" style="text-align:center">
  <div id="item_one" class="col-md-3">
    <a href="http://www.eslite.com/product.aspx?pgid=1001122732639908&name=%E9%80%99%E6%A8%A3%E5%B0%B1%E5%BE%88%E5%B9%B8%E7%A6%8F%E4%BA%86%3a+%E5%B0%8F%E5%B7%9D%E7%B3%B8%E7%9A%8429%E5%80%8B%E7%B0%A1%E5%96%AE%E7%94%9F%E6%B4%BB%E6%B3%95%E5%89%87">
      <div>
        <img class="img-thumbnail" src="http://pic.eslite.com/Upload/Product/201711/m/636468501207493750.jpg">
      </div>
      <div>
        這樣就很幸福了: 小川糸的29個簡單生活法則 これだけで、幸せ: 小川糸の少なく暮らす29ヵ条
      </div>
      <div>
        NT$380
      </div>
    </a>
  </div>
  <div id="item_one" class="col-sm-3">
    <a href="http://www.eslite.com/product.aspx?pgid=1001141192639905&name=%E7%94%B7%E4%BA%BA%E9%80%99%E6%9D%B1%E8%A5%BF">
      <div>
        <img class="img-thumbnail" src="http://pic.eslite.com/Upload/Product/201711/m/636468501138743750.jpg">
      </div>
      <div>
        男人這東西
      </div>
      <div>
        NT$300
      </div>
    </a>
  </div>
  <div id="item_one" class="col-sm-3">
    <a href="http://www.eslite.com/product.aspx?pgid=1001120822635683&name=%E9%A8%8E%E6%91%A9%E6%89%98%E8%BB%8A%E6%88%B4%E5%AE%89%E5%85%A8%E5%B8%BD%E9%82%A3%E4%B8%80%E5%B9%B4%3a+1997%E6%88%91%E6%88%90%E7%82%BA%E6%9C%80%E5%8F%B0%E6%97%A5%E6%9C%AC%E4%BA%BA">
      <div>
        <img class="img-thumbnail" src="http://pic.eslite.com/Upload/Product/201711/m/636453811464259325.jpg">
      </div>
      <div>
        騎摩托車戴安全帽那一年: 1997我成為最台日本人
      </div>
      <div>
        NT$250
      </div>
    </a>
  </div>
  <div id="item_one" class="col-sm-3">
    <a href="http://www.eslite.com/product.aspx?pgid=1001180772639608&name=%E7%88%BA%E7%88%BA%E8%88%87%E5%B0%8F%E7%8E%89%E5%96%B5">
      <div>
        <img class="img-thumbnail" src="http://pic.eslite.com/Upload/Product/201711/m/636468498914212500.jpg">
      </div>
      <div>
        爺爺與小玉喵 ねことじいちゃん
      </div>
      <div>
        NT$280
      </div>
    </a>
  </div>
</div>