{% extends "./base.html "%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 list-group" id="categorylist">
            <a href="#" class="list-group-item list-group-item-action">First item</a>
            <a href="#" class="list-group-item list-group-item-action">Second item</a>
            <a href="#" class="list-group-item list-group-item-action">Third item</a>
        </div>
        <div class="col-md-9" id="categorybooks">

        </div>
    </div>
</div>
{% endblock%}
